/*MAIN STYLE*/
@font-face {
  font-family: Evolve Sans Medium EVO;
  src: url('fonts/Evolve Sans Medium EVO.otf');
}

@font-face {
  font-family: Evolve Sans Thin EVO;
  src: url('fonts/Evolve Sans Thin EVO.otf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	background-color: #16161b;
	color: #ffffff;
	font-family: Evolve Sans Thin EVO;
}

.main {
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25%;
	width: 100% !important;
	position: relative;
	overflow: hidden;
}

.big_circle {
	position: absolute;
	width: 90%;
	animation: main 60s infinite linear;
	overflow: hidden;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small_circle {
	position: absolute;
	width: 80%;
	animation: main 55s infinite linear;
	overflow: hidden;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes main {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.main_name p:nth-child(1) {
	font-size: 40px;
	text-align: left;
}

.main_name p:nth-child(2) {
	font-size: 150px;
	text-align: center;
}

.main_name p:nth-child(3) {
	font-size: 60px;
	text-align: right;
}

.main_name p:nth-child(4) {
	font-size: 40px;
	text-align: center;
	margin-top: 10%;
}

.main_name p:nth-child(5) {
	font-size: 15px;
	text-align: center;
}

.main_name {
}





.red {
	color: #7d1212;
}



.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #161619;
	z-index: 10000;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
}

.loader {
	width: 150px;
	height: 150px;
	border: 10px solid white;
	border-radius: 50%;
	border-top-color: #7d1212;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: 2s spin infinite linear;
}

.done {
	opacity: 0;
	visibility: hidden;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.back {
	position: absolute;
	height: 100%;
	top: 10%;
	opacity: 0.02;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::selection {
background: #ca4b48; /* Safari */

}
::-moz-selection {
background: #ca4b48; /* Firefox */
}

















